<form action="{% url 'hotel_information' hotel.slug %}" class="gy-3 form-settings" method="post"
    enctype="multipart/form-data" autocomplete="off">
    <div class="row g-3">
        <div class="row g-3">
            <input type="hidden" name="csrfmiddlewaretoken"
                value="f1UrG1i4DYjyJ1Z32BvS63BNcjDzYQkKZ3iiTqDxF2vxm4v2pdzwAOWNloNazjnd">


            <div class="col-lg-4 col-6 UpdateHotelForm">
                <div class="form-group">
                    <label class="form-label" for="site-name"><label for="id_hotel_name">اسم الفندق:</label></label>
                    <span class="form-note"></span>
                    <br>
                    <div class="form-group">
                        <div class="form-control-wrap">
                            <input type="text" name="hotel_name" value="Hotel F" maxlength="200" class="form-control"
                                required="" id="id_hotel_name">
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-lg-4 col-6 UpdateHotelForm">
                <div class="form-group">
                    <label class="form-label" for="site-name"><label for="id_city">المدينة:</label></label>
                    <span class="form-note"></span>
                    <br>
                    <div class="form-group">
                        <div class="form-control-wrap">
                            <select name="city" class="form-control" required="" id="id_city">
                                <option value="">---------</option>

                                <option value="Makkah">مكة المكرمة</option>

                                <option value="Madinah" selected="">المدينة المنورة</option>

                            </select>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-lg-4 col-6 UpdateHotelForm">
                <div class="form-group">
                    <label class="form-label" for="site-name"><label for="id_address">العنوان:</label></label>
                    <span class="form-note"></span>
                    <br>
                    <div class="form-group">
                        <div class="form-control-wrap">
                            <input type="text" name="address" value="مكة المكرمة" maxlength="200" class="form-control"
                                id="id_address">
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-lg-4 col-6 UpdateHotelForm">
                <div class="form-group">
                    <label class="form-label" for="site-name"><label for="id_tel">رقم الهاتف:</label></label>
                    <span class="form-note"></span>
                    <br>
                    <div class="form-group">
                        <div class="form-control-wrap">
                            <input type="text" name="tel" value="12345678" maxlength="200" class="form-control"
                                id="id_tel">
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-lg-4 col-6 UpdateHotelForm">
                <div class="form-group">
                    <label class="form-label" for="site-name"><label for="id_mobile">رقم الجوال:</label></label>
                    <span class="form-note"></span>
                    <br>
                    <div class="form-group">
                        <div class="form-control-wrap">
                            <input type="text" name="mobile" value="dfg" maxlength="200" class="form-control"
                                id="id_mobile">
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-lg-4 col-6 UpdateHotelForm">
                <div class="form-group">
                    <label class="form-label" for="site-name"><label for="id_category">التصنيف:</label></label>
                    <span class="form-note"></span>
                    <br>
                    <div class="form-group">
                        <div class="form-control-wrap">
                            <select name="category" class="form-control" required="" id="id_category">
                                <option value="">---------</option>

                                <option value="1">نجمة</option>

                                <option value="2">نجمتان</option>

                                <option value="3">3 نجوم</option>

                                <option value="4">4 نجوم</option>

                                <option value="5" selected="">5 نجوم</option>

                                <option value="6">شقق مخدومة</option>

                                <option value="7">غير مصنف</option>

                            </select>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-lg-4 col-6 UpdateHotelForm">
                <div class="form-group">
                    <label class="form-label" for="site-name"><label for="id_Cancellation_policy">سياسة
                            الإلغاء:</label></label>
                    <span class="form-note"></span>
                    <br>
                    <div class="form-group">
                        <div class="form-control-wrap">
                            <select name="Cancellation_policy" class="form-control" id="id_Cancellation_policy">
                                <option value="">---------</option>

                                <option value="1">مستردة</option>

                                <option value="2" selected="">غير مستردة</option>

                            </select>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-lg-4 col-6 UpdateHotelForm">
                <div class="form-group">
                    <label class="form-label" for="site-name"><label for="id_Cancellation_hours">إلغاء الحجز
                            بعد:</label></label>
                    <span class="form-note"></span>
                    <br>
                    <div class="form-group">
                        <div class="form-control-wrap">
                            <select name="Cancellation_hours" class="form-control" id="id_Cancellation_hours">
                                <option value="" selected="">---------</option>

                                <option value="1">24 ساعة</option>

                                <option value="2">48 ساعة</option>

                                <option value="3">72 ساعة</option>

                            </select>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-lg-4 col-6 UpdateHotelForm">
                <div class="form-group">
                    <label class="form-label" for="site-name"><label for="id_Check_in">سياسة وقت الدخول:</label></label>
                    <span class="form-note"></span>
                    <br>
                    <div class="form-group">
                        <div class="form-control-wrap has-timepicker">
                            <input type="text" name="Check_in" value="01:00 AM" maxlength="100"
                                class="form-control time-picker w-30" id="id_Check_in">
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-lg-4 col-6 UpdateHotelForm">
                <div class="form-group">
                    <label class="form-label" for="site-name"><label for="id_Check_out">سياسة وقت
                            الخروج:</label></label>
                    <span class="form-note"></span>
                    <br>
                    <div class="form-group">
                        <div class="form-control-wrap has-timepicker">
                            <input type="text" name="Check_out" value="01:30 AM" maxlength="100"
                                class="form-control time-picker w-30" id="id_Check_out">
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-lg-4 col-6 UpdateHotelForm">
                <div class="form-group">
                    <label class="form-label" for="site-name"><label for="id_nationality">جنسية الضيوف:</label></label>
                    <span class="form-note"></span>
                    <br>
                    <div class="form-group">
                        <div class="form-control-wrap">
                            <select name="nationality" class="form-select js-select2 select2-hidden-accessible"
                                required="" id="id_nationality" multiple="" data-select2-id="id_nationality"
                                tabindex="-1" aria-hidden="true">
                                <option value="AF">Afghanistan</option>

                                <option value="AX">Åland Islands</option>

                                <option value="AL">Albania</option>

                                <option value="DZ">Algeria</option>

                                <option value="AS" selected="" data-select2-id="2">American Samoa</option>

                                <option value="AD">Andorra</option>

                                <option value="AO">Angola</option>

                                <option value="AI">Anguilla</option>

                                <option value="AQ">Antarctica</option>

                                <option value="AG">Antigua and Barbuda</option>

                                <option value="AR">Argentina</option>

                                <option value="AM">Armenia</option>

                                <option value="AW">Aruba</option>

                                <option value="AU">Australia</option>

                                <option value="AT">Austria</option>

                                <option value="AZ">Azerbaijan</option>

                                <option value="BS">Bahamas</option>

                                <option value="BH">Bahrain</option>

                                <option value="BD">Bangladesh</option>

                                <option value="BB">Barbados</option>

                                <option value="BY">Belarus</option>

                                <option value="BE">Belgium</option>

                                <option value="BZ">Belize</option>

                                <option value="BJ">Benin</option>

                                <option value="BM">Bermuda</option>

                                <option value="BT">Bhutan</option>

                                <option value="BO">Bolivia</option>

                                <option value="BQ">Bonaire, Sint Eustatius and Saba</option>

                                <option value="BA">Bosnia and Herzegovina</option>

                                <option value="BW">Botswana</option>

                                <option value="BV">Bouvet Island</option>

                                <option value="BR">Brazil</option>

                                <option value="IO">British Indian Ocean Territory</option>

                                <option value="BN">Brunei</option>

                                <option value="BG">Bulgaria</option>

                                <option value="BF">Burkina Faso</option>

                                <option value="BI">Burundi</option>

                                <option value="CV">Cabo Verde</option>

                                <option value="KH">Cambodia</option>

                                <option value="CM">Cameroon</option>

                                <option value="CA">Canada</option>

                                <option value="KY">Cayman Islands</option>

                                <option value="CF">Central African Republic</option>

                                <option value="TD">Chad</option>

                                <option value="CL">Chile</option>

                                <option value="CN">China</option>

                                <option value="CX">Christmas Island</option>

                                <option value="CC">Cocos (Keeling) Islands</option>

                                <option value="CO">Colombia</option>

                                <option value="KM">Comoros</option>

                                <option value="CG">Congo</option>

                                <option value="CD">Congo (the Democratic Republic of the)</option>

                                <option value="CK">Cook Islands</option>

                                <option value="CR">Costa Rica</option>

                                <option value="CI">Côte d'Ivoire</option>

                                <option value="HR">Croatia</option>

                                <option value="CU">Cuba</option>

                                <option value="CW">Curaçao</option>

                                <option value="CY">Cyprus</option>

                                <option value="CZ">Czechia</option>

                                <option value="DK">Denmark</option>

                                <option value="DJ">Djibouti</option>

                                <option value="DM">Dominica</option>

                                <option value="DO">Dominican Republic</option>

                                <option value="EC">Ecuador</option>

                                <option value="EG">Egypt</option>

                                <option value="SV">El Salvador</option>

                                <option value="GQ">Equatorial Guinea</option>

                                <option value="ER">Eritrea</option>

                                <option value="EE">Estonia</option>

                                <option value="SZ">Eswatini</option>

                                <option value="ET">Ethiopia</option>

                                <option value="FK">Falkland Islands (Malvinas)</option>

                                <option value="FO">Faroe Islands</option>

                                <option value="FJ">Fiji</option>

                                <option value="FI">Finland</option>

                                <option value="FR">France</option>

                                <option value="GF">French Guiana</option>

                                <option value="PF">French Polynesia</option>

                                <option value="TF">French Southern Territories</option>

                                <option value="GA">Gabon</option>

                                <option value="GM">Gambia</option>

                                <option value="GE">Georgia</option>

                                <option value="DE">Germany</option>

                                <option value="GH">Ghana</option>

                                <option value="GI">Gibraltar</option>

                                <option value="GR">Greece</option>

                                <option value="GL">Greenland</option>

                                <option value="GD">Grenada</option>

                                <option value="GP">Guadeloupe</option>

                                <option value="GU">Guam</option>

                                <option value="GT">Guatemala</option>

                                <option value="GG">Guernsey</option>

                                <option value="GN">Guinea</option>

                                <option value="GW">Guinea-Bissau</option>

                                <option value="GY">Guyana</option>

                                <option value="HT">Haiti</option>

                                <option value="HM">Heard Island and McDonald Islands</option>

                                <option value="VA">Holy See</option>

                                <option value="HN">Honduras</option>

                                <option value="HK">Hong Kong</option>

                                <option value="HU">Hungary</option>

                                <option value="IS">Iceland</option>

                                <option value="IN">India</option>

                                <option value="ID">Indonesia</option>

                                <option value="IR">Iran</option>

                                <option value="IQ">Iraq</option>

                                <option value="IE">Ireland</option>

                                <option value="IM">Isle of Man</option>

                                <option value="IL">Israel</option>

                                <option value="IT">Italy</option>

                                <option value="JM">Jamaica</option>

                                <option value="JP">Japan</option>

                                <option value="JE">Jersey</option>

                                <option value="JO">Jordan</option>

                                <option value="KZ">Kazakhstan</option>

                                <option value="KE">Kenya</option>

                                <option value="KI">Kiribati</option>

                                <option value="KW">Kuwait</option>

                                <option value="KG">Kyrgyzstan</option>

                                <option value="LA">Laos</option>

                                <option value="LV">Latvia</option>

                                <option value="LB">Lebanon</option>

                                <option value="LS">Lesotho</option>

                                <option value="LR">Liberia</option>

                                <option value="LY">Libya</option>

                                <option value="LI">Liechtenstein</option>

                                <option value="LT">Lithuania</option>

                                <option value="LU">Luxembourg</option>

                                <option value="MO">Macao</option>

                                <option value="MG">Madagascar</option>

                                <option value="MW">Malawi</option>

                                <option value="MY">Malaysia</option>

                                <option value="MV">Maldives</option>

                                <option value="ML">Mali</option>

                                <option value="MT">Malta</option>

                                <option value="MH">Marshall Islands</option>

                                <option value="MQ">Martinique</option>

                                <option value="MR">Mauritania</option>

                                <option value="MU">Mauritius</option>

                                <option value="YT">Mayotte</option>

                                <option value="MX">Mexico</option>

                                <option value="FM">Micronesia (Federated States of)</option>

                                <option value="MD">Moldova</option>

                                <option value="MC">Monaco</option>

                                <option value="MN">Mongolia</option>

                                <option value="ME">Montenegro</option>

                                <option value="MS">Montserrat</option>

                                <option value="MA">Morocco</option>

                                <option value="MZ">Mozambique</option>

                                <option value="MM">Myanmar</option>

                                <option value="NA">Namibia</option>

                                <option value="NR">Nauru</option>

                                <option value="NP">Nepal</option>

                                <option value="NL">Netherlands</option>

                                <option value="NC">New Caledonia</option>

                                <option value="NZ">New Zealand</option>

                                <option value="NI">Nicaragua</option>

                                <option value="NE">Niger</option>

                                <option value="NG">Nigeria</option>

                                <option value="NU">Niue</option>

                                <option value="NF">Norfolk Island</option>

                                <option value="KP">North Korea</option>

                                <option value="MK">North Macedonia</option>

                                <option value="MP">Northern Mariana Islands</option>

                                <option value="NO">Norway</option>

                                <option value="OM">Oman</option>

                                <option value="PK">Pakistan</option>

                                <option value="PW">Palau</option>

                                <option value="PS">Palestine, State of</option>

                                <option value="PA">Panama</option>

                                <option value="PG">Papua New Guinea</option>

                                <option value="PY">Paraguay</option>

                                <option value="PE">Peru</option>

                                <option value="PH">Philippines</option>

                                <option value="PN">Pitcairn</option>

                                <option value="PL">Poland</option>

                                <option value="PT">Portugal</option>

                                <option value="PR">Puerto Rico</option>

                                <option value="QA">Qatar</option>

                                <option value="RE">Réunion</option>

                                <option value="RO">Romania</option>

                                <option value="RU">Russia</option>

                                <option value="RW">Rwanda</option>

                                <option value="BL">Saint Barthélemy</option>

                                <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>

                                <option value="KN">Saint Kitts and Nevis</option>

                                <option value="LC">Saint Lucia</option>

                                <option value="MF">Saint Martin (French part)</option>

                                <option value="PM">Saint Pierre and Miquelon</option>

                                <option value="VC">Saint Vincent and the Grenadines</option>

                                <option value="WS">Samoa</option>

                                <option value="SM">San Marino</option>

                                <option value="ST">Sao Tome and Principe</option>

                                <option value="SA">Saudi Arabia</option>

                                <option value="SN">Senegal</option>

                                <option value="RS">Serbia</option>

                                <option value="SC">Seychelles</option>

                                <option value="SL">Sierra Leone</option>

                                <option value="SG">Singapore</option>

                                <option value="SX">Sint Maarten (Dutch part)</option>

                                <option value="SK">Slovakia</option>

                                <option value="SI">Slovenia</option>

                                <option value="SB">Solomon Islands</option>

                                <option value="SO">Somalia</option>

                                <option value="ZA">South Africa</option>

                                <option value="GS">South Georgia and the South Sandwich Islands</option>

                                <option value="KR">South Korea</option>

                                <option value="SS">South Sudan</option>

                                <option value="ES">Spain</option>

                                <option value="LK">Sri Lanka</option>

                                <option value="SD">Sudan</option>

                                <option value="SR">Suriname</option>

                                <option value="SJ">Svalbard and Jan Mayen</option>

                                <option value="SE">Sweden</option>

                                <option value="CH">Switzerland</option>

                                <option value="SY">Syria</option>

                                <option value="TW">Taiwan</option>

                                <option value="TJ">Tajikistan</option>

                                <option value="TZ">Tanzania</option>

                                <option value="TH">Thailand</option>

                                <option value="TL">Timor-Leste</option>

                                <option value="TG">Togo</option>

                                <option value="TK">Tokelau</option>

                                <option value="TO">Tonga</option>

                                <option value="TT">Trinidad and Tobago</option>

                                <option value="TN">Tunisia</option>

                                <option value="TR">Türkiye</option>

                                <option value="TM">Turkmenistan</option>

                                <option value="TC">Turks and Caicos Islands</option>

                                <option value="TV">Tuvalu</option>

                                <option value="UG">Uganda</option>

                                <option value="UA">Ukraine</option>

                                <option value="AE">United Arab Emirates</option>

                                <option value="GB">United Kingdom</option>

                                <option value="UM">United States Minor Outlying Islands</option>

                                <option value="US">United States of America</option>

                                <option value="UY">Uruguay</option>

                                <option value="UZ">Uzbekistan</option>

                                <option value="VU">Vanuatu</option>

                                <option value="VE">Venezuela</option>

                                <option value="VN">Vietnam</option>

                                <option value="VG">Virgin Islands (British)</option>

                                <option value="VI">Virgin Islands (U.S.)</option>

                                <option value="WF">Wallis and Futuna</option>

                                <option value="EH">Western Sahara</option>

                                <option value="YE">Yemen</option>

                                <option value="ZM">Zambia</option>

                                <option value="ZW">Zimbabwe</option>

                            </select><span class="select2 select2-container select2-container--default d-none" dir="rtl"
                                data-select2-id="1" style="width: 1px;"><span class="selection"><span
                                        class="select2-selection select2-selection--multiple" role="combobox"
                                        aria-haspopup="true" aria-expanded="false" tabindex="-1" aria-disabled="false">
                                        <ul class="select2-selection__rendered">
                                            <li class="select2-selection__choice" title="American Samoa"
                                                data-select2-id="3"><span class="select2-selection__choice__remove"
                                                    role="presentation">×</span>American Samoa</li>
                                            <li class="select2-search select2-search--inline"><input
                                                    class="select2-search__field" type="search" tabindex="0"
                                                    autocomplete="off" autocorrect="off" autocapitalize="none"
                                                    spellcheck="false" role="searchbox" aria-autocomplete="list"
                                                    placeholder="" style="width: 0.75em;"></li>
                                        </ul>
                                    </span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-12 UpdateHotelForm">
                <div class="form-group">
                    <label class="form-label" for="site-name"><label for="id_about_hotel">نبذة عن
                            الفندق:</label></label>
                    <span class="form-note"></span>
                    <br>
                    <div class="form-group">
                        <div class="form-control-wrap">
                            <textarea name="about_hotel" cols="40" rows="10" class="form-control"
                                id="id_about_hotel">dfg</textarea>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-lg-4 col-6 UpdateHotelForm">
                <div class="form-group">
                    <label class="form-label" for="site-name"><label for="id_logo">صورة رمزية:</label></label>
                    <span class="form-note"></span>
                    <br>
                    <div class="form-group">
                        <div class="form-control-wrap">
                            Currently: <a
                                href="/media/images/gallery/no-image-placeholder_KRa266U.webp">images/gallery/no-image-placeholder_KRa266U.webp</a>
                            <input type="checkbox" name="logo-clear" id="logo-clear_id">
                            <label for="logo-clear_id">Clear</label><br>
                            Change:
                            <input type="file" name="logo" accept="image/*" class="form-control" required="required"
                                id="id_logo">
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-lg-4 col-6 UpdateHotelForm">
                <div class="form-group">
                    <label class="form-label" for="site-name"><label for="id_vat">ضريبة القيمة المضافة:</label></label>
                    <span class="form-note"></span>
                    <br>
                    <div class="form-group">
                        <div class="form-control-wrap">
                            <input type="number" name="vat" value="7.0" step="any" required="" id="id_vat">
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-lg-4 col-6 UpdateHotelForm">
                <div class="form-group">
                    <label class="form-label" for="site-name"><label for="id_location">الموقع:</label></label>
                    <span class="form-note"></span>
                    <br>
                    <div class="form-group">
                        <div class="form-control-wrap">
                            <select name="location" class="form-control" disabled="disabled" id="id_location">
                                <option value="">---------</option>

                                <option value="7" selected="">50.0كم</option>

                                <option value="5">15.0كم</option>

                                <option value="4">8.0كم</option>

                                <option value="3">4.0كم</option>

                                <option value="2">3.0كم</option>

                                <option value="1">1.0كم</option>

                                <option value="8">0.9كم</option>

                                <option value="6">0.3كم</option>

                            </select>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <div class="row g-3">
        <div class="col-lg-7">
            <div class="form-group mt-2">
                <button type="submit" class="btn btn-lg btn-primary">حفظ
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    إلغاء
                </button>
            </div>
        </div>
    </div>
</form>